---
layout: default
title: Home
published: true
---

<!-- img src="/images/helloworld.jpg" alt="Hello World!"-->
<img src="https://source.unsplash.com/1600x900/?beach,nature,water,couple,love,hug,love">

<h2>Selamat Datang 2019</h2>

<p>Mari kita lihat seberapa konsisten saya dalam 365 hari ke depan. Atau mungkin 30 hari kedepan. Eh, seminggu ini dulu aja deh. (Sekarang: 1 Jan) Oia, gambar di atas bukan gambar saya. Saya ambil dari API nya unsplash. Dulu ada generator lorempixel. Meski gambarnya so-so, tapi lisensinya gratis dan biasanya ringan. Bedanya sama si unsplash ini, adalah kualitas gambarnya. Gambar-gambar yang di unsplash sudah dikurasi oleh orang-orang, jadi bisa dijamin adalah gambar yang bagus. Contoh lorempixel, anda bisa mengetik seperti ini:</p>

<code>http://lorempixel.com/400/200/sports/1/Liverpool-ayo-Juara</code>

<p>dan yang keluar adalah seperti ini:</p>

<img src="http://lorempixel.com/400/200/sports/1/Liverpool-ayo-Juara">

<p>Lumayan lah buat mockup dengan gambar yang bukan bandwidth killer.</p>


<hr>

{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/images/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-button">Newer</span>
  {% endif %}

</div>
